@import url(./bootstrap.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
ul{
    list-style: none;
}
.navbar{
    position:absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;
}
header{
    width: 100vw;
    height: 100vh;
    /* background-color: lightslategray; */
    background-image: url('https://i.pinimg.com/736x/a0/74/67/a07467a9c9a8b934079fffd5169162cb.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: crimson;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.nav-links li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: crimson;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links li:hover::after{
    width: 100%;
}
.tours{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.tours-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.tours-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,2);
}
.explore{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.explore-col{
    flex-basis: 450px;
    border-radius: 1opx;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.explore-col img{
    width: 100%;
    display: block;
}
.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.more{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.destination-image,
.accommodation-image,
.tours-image{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .destination-image,
    .accommodation-image,
    .tours-image{
        height: 150px;
    }
}

 

